.main-board {
    display: flex;
    min-height: 100vh;
    background-color: #f5f6f7;   
}

.main-stage {
    display:flex;
    width:100%;
    overflow-x:auto;
    height: 500px;
    margin-left: 45px;
    margin-top: 35px;
}